<footer>
	<nav class="round">
		<p><%= link_to "Sélectionnez un niveau", root_path %></p>
		<ul>
			<%= link_to "Partie 1", partie1_path %></br>
			<%= link_to "Partie 2", partie2_path %></br>
			<%= link_to "Partie 3", partie3_path %></br>
			<%= link_to "Partie 4", partie4_path %></br>
			<%= link_to "Partie 5", partie5_path %></br>
		</ul>
	</nav>
</footer>