<!DOCTYPE html>
<html>
<head>
	<title><%= titre %></title>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets' %>
</head>
<body>
	<% javascript 'quintus-all.js' %>
	<% javascript 'partie1.js' %>
	<% javascript 'partie2.js' %>
	<% javascript 'partie3.js' %>
	<% javascript 'partie4.js' %>
	<% javascript 'partie5.js' %>
	<div class="container">
		<%= render 'layouts/header' %>
		<section class="round">
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
